**/.DS_Store

# you will need to download your own version of this to match 
# the CircuitPython version of your board. See error message 
# when running "tools/upload_to_board.sh"
tools/mpy-cross

# pycharm stuff
.idea/

# ignore all config files in the settings, these have personal info.
# however, include the sample files that have sample data.
src_uC/settings/*.cfg
!src_uC/settings/*_sample.cfg

# ignore any logs retrieved from the device, and any build files.
logs/
build/