**/.DS_Store

# you will need to download your own version of this to match 
# the CircuitPython version of your board. See error message 
# when running "tools/upload_to_board.sh"
tools/mpy-cross

# pycharm stuff
.idea/

# ignore all non-sample configuration files in the settings
# folder, this will have private details of local bus-stops/wifi
src_uC/settings/*.txt

# don't check in any logs grabbed from the device.
logs/
